/* Universal Styles */

  /* latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin */
  @font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 400;
    src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v12/rax8HiqOu8IVPmn7f4xp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

.header, .footer {
  font-family: "Bitter", sans-serif
}

.header, .footer, .banner, .about, .exhibit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options span {
  padding-left: 1rem;
}

.welcome, .about {
  display: flex;
}

.media {
  padding: 2rem 1.5rem;
  max-width: 60%;
}

.welcome .media, .exhibit .media {
  background-color: #00bfff;
}

.media img {
  width: 100%;
}

.information {
  width: 40%;
  padding-top: 1rem;
}

.about .image {
  min-width: 35%;
  padding: 1rem;
}

.about .image img {
  width: 100%;
}

.about .info {
  width: 65%;
}

.about .info p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  background-color: #b22222;
}

.title h2 {
  color: #00bfff;
}

h1, h2, h4 {
  font-weight: bold;
  color: rgb(178,34,34);
}

h2, h3, h5, p {
  line-height: 1.6;
}

h1 {
  font-size: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  color: #00bfff;
}

h4 {
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
}

.mobile {
  display: none;
}

.alt {
  background-color: #1e90ff;
  color: #b22222;
}

@media only screen and (max-width: 810px) {

  html {
    overflow-x: hidden;
  }

  .dsktp {
    display: none;
  }

  .alt {
    background-color: #00bfff;
  }

  .mobile {
    display: block;
  }

  .banner, .welcome, .about {
    flex-direction: column;
  }

  .media {
    margin: 0rem;
    padding: 0rem;
    min-width: 100%;
  }

  .about .info {
    width: 90%;
    padding-left: 2rem;
  }

}

/* Header Section */

.header {
  height: 4rem;
}

.options.heading {
  height: 2rem;
}

h3.colmar {
  color: #1e90ff;
}

  /* Header Mobile Section */

  @media only screen and (max-width: 810px) {
    .options.heading {
      width: 100%;
    }
  }

/* Banner Section */

.banner {
  justify-content: flex-start;
}

.information.landing {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: darkblue;
}

.landing .button {
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

  /* Banner Mobile Section */

  @media only screen and (max-width: 810px) {

    h1 {
      font-size: 3rem;
      padding-top: 0rem;
    }

    .information {
      width: 90%;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
    }

    .welcome .about .info {
      margin-bottom: 1rem;
    }
  }

/* Welcome Section */

.welcome h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.welcome .quote {
  padding-bottom: 2rem;
}

  /* Welcome Mobile Section */

    @media only screen and (max-width: 810px)  {

    }

/* Start Learning Section */

.education {
  padding: 1rem 4.5rem 2rem 4.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.degrees {
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.degrees.one {
  padding-bottom: 2rem;
}

.degree {
  width: 30%;
  background-color: white;
}

.degree img {
  width: 100%;
  height: auto;
}

.description {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.degree h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.courses {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.center {
  margin-left: 2rem;
  margin-right: 2rem;
}
  /* SL Mobile Section */

  @media only screen and (max-width: 810px) {

    .education {
      padding: 0rem 0rem 2rem 0rem;
    }

    .degrees {
      flex-direction: column;
      align-items: center;
    }

    .degrees.one {
      padding-bottom: 0rem;
    }

    .degree {
      width: 90%;
      margin-bottom: 0.5rem;
    }

    .degree:first-child {
      background-color: green;
    }

    .description {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }

    .degree h4 {
      padding-bottom: 0rem;
      padding-top: 0rem;
    }

    .center {
      margin-left: 0rem;
      margin-right: 0rem;
    }

  }

/* Thesis Exhibit Section */

.thesis-exhibit {
  display: block;
}

.exhibit {
  align-items: flex-start;
}

.urban {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

  /* Thesis Mobile Section */

  @media only screen and (max-width: 810px) {

    .thesis-exhibit .title {
      padding-bottom: 1rem;
    }

    .video {
      padding-bottom: 2rem;
    }
  }

/* Footer Section */

.footer {
  height: 8rem;
  align-items: center;
}

.footer .box {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

  /* Footer Mobile Section */

  @media only screen and (max-width: 810px) {

    .footer {
      height: auto;
    }

    .footer.alt {
      background-color: inherit;
    }
  }
